<div class="wrapper">
    <button class="turn-on">Turn light on</button>
    <button class="turn-off">Turn light off</button>

    <div class="incoming"></div>
</div>

<script type="text/javascript" src="/javascripts/script.js"></script>